/data/.ipynb_checkpoints/
*.aux
/code/config/config.json
/paper/paper.bbl
/paper/paper.blg
/paper/paper.aux
/paper/paper.log
/paper/paper.aux
/paper/paper-bloated.pdf
.ipynb_checkpoints/*
/paper/paper.pdf
/paper/paper.out
