A { color: #006699; text-decoration: none;}
.user_input { background-color: #FFFFFF}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 700;
	width: 600;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	margin: 10 0 2 0;
	font-size: 125%;
}
body, p, ul, ol, li, div, blockquote {  font-size: small; font-family: Arial, Helvetica, sans-serif}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 800;
	font-size: 90%;
}
h3 {
	width: 600;
	border: #999999;
	font-weight: 900;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	margin: 40 0 1 0;
	color: #CC9900;
	font-size: 80%;
}
h4 {
	width: 600;
	border: #B7B7B7;
	border-style: solid;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: 600;
	color: #CC9900;
	font-size: 80%;
}
.compactul { margin: -10 0 0 40 }
h5 { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 80%; }
.indented {  text-indent: 15px}
.smalltype {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 60%; font-weight: 800}
.bodycopy { font-family: Verdana, Arial, Helvetica, sans-serif}
.subtitle { font-size: medium; font-weight: 600; color: rgb(152,102,0) }
.replaces {font-size: 65%; font-weight: normal;}
.nospacebelow {margin-bottom: 0px;}
.nospaceabove {margin-top: 0px;}
